SERVER_URL=localhost
SERVER_NAME=GlobalServer
SERVER_PORT=8088
GIN_MODE=debug

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Noname0212
POSTGRES_DATABASE=currency_control

AD_SERVER=ldap://10.64.1.4
AD_DOMAIN=tajikistan.tj
AD_SEARCH_BASE=DC=tajikistan,DC=tj

ABS_ENDPOINT=http://10.64.20.34:8181/cxf/clients/v1

JWT_SECRET=df10150a8431adaa25b96012a78eb59213abd23c9caf53809b66c55e26ba423c
ACCESS_TOKEN_TTL_MINUTES=20
REFRESH_TOKEN_TTL_DAYS=1
